@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');

body {
  background: #422c4b;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  border-bottom: 3px solid #893f71;
  font-family: "Lemon", serif;
  font-weight: 400;
  font-style: normal;
}

#todo-list {
  width: 50%;
  margin: 60px auto;
}

form {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px 30px 0px;
  padding: 10px 0px;
}

input[type='text'] {
  font-size: 24px;
  padding: 10px 12px;
  box-sizing: border-box;
  flex-grow: 1;
  margin-right: 16px;
  border-radius: 25px;
  background: rgba(63, 50, 68, 0.5);
  color: #fff;
  border: solid 2px #ffffff;
  font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-bottom: white 3px solid;
}

.todo-text {
  font-size: 22px;
  line-height: 24px;
  color: #fff;
  display: flex;
  align-self: center;
  font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  flex-grow: 1;
}


/* styling checkbox */

.todo input[type="checkbox"] {
  appearance: none;
  background-color: #422c4b;
  transform: scale(1.8) translateY(1px);
  margin: 0 22px 0 0;
  padding: 5px;
  cursor: pointer;
  accent-color: #adc178; 
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo input[type="checkbox"]:checked::before {
  content: "🗸";
  color: #adc178;
  font-size: 32px;
  display: block;
  position: relative;
  top: -4px;
  left: 5px;
}

.todo-text.completed span {
  color: #2c2330;
  text-decoration: line-through;
}

.todo.completed {
  display: flex;
  margin: 10px 0;
}

.todo.incomplete {
  background-color: #f8d7da; 
}


/* styling buttons */

.todo-actions {
  display: flex;
  padding: 2px;
  height: 50px;
}
 
button {
  font-size: 18px;
  font-weight: bold;
  background-color: #2c233044;
  margin: 1px;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

img {
  width: 20px;
  height: 20px;
}

#addBtn {
  border-radius: 50%;
  padding: 10px 14px;
}

button:hover {
  background-color: #893f71;
}

button:active {
  background-color: #893f71;
}
